{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'posts/buttons.css' %}">
{% endblock %}

{% block title %}Delete Post{% endblock %}

{% block content %}
    <h1>Delete post</h1>
    <form  method="post">
    {% csrf_token %}
    Are you sure you want do delete the post <br>
    <input  type="submit"  value="Submit"  />
    </form>
    <div class="grid">
        <div class="grid-item">
            <a href="{% url 'post_list' %}">
                <button class="btn btn--cyan">Post list</button>
            </a>
        </div>
    
        <div class="grid-item">
            <a href="{% url 'post_detail' post.id %}">
                <button class="btn btn--blue">Post Details</button>
            </a>
        </div>
    </div>
{% endblock %}
